.facilityItem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .facilityIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 22px;
  }
  
  .facilityName {
    font-size: 10px;
    color: #6c757d;
    margin-top: 5px;
  }