.container {
  background-color: #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 100%;
  max-width: 700px;
  flex-direction: column;
  color: #000;
  margin: 20px auto;
  padding: 20px;
  font: 400 22px/28px Roboto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.title {
  text-align: center;
  font-size: 32px;
}

.divider {
  margin-top: 15px;
  width: 100%;
  height: 1px;
  border: 1px solid #000;
}

.subtitle {
  text-align: center;
  margin-top: 5%;
}

.optionButton {
  border-radius: 50px;
  background-color: #8edfff;
  width: 100%;
  max-width: 600px;
  margin-top: 5%;
  padding: 15px;
  text-align: center;
}

.infoBox {
  background-color: #dff6ff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  gap: 10px;
  color: #0077a6;
  margin: 30px auto;
  padding: 15px;
  justify-content: center;
}

.infoIcon {
  width: 35px;
}

.infoText {
  flex: 1;
  min-width: 200px;
}

.logo {
  width: 80%;
  max-width: 200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }
  .content {
    padding: 20px;
  }
  .infoBox {
    flex-direction: column;
    align-items: center;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.therapistImage {
  scale: 75%;
  animation: spin 2s linear infinite; /* Adjust duration and timing as needed */
}